@model DnaMais.Atento.Web.Models.UsuarioModel
@using DnaMais.Atento.Web.Models
@{
    ViewBag.Title = "DNA+ | Atento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

@Html.ActionLink("Voltar para Lista de Usuários", "ListarUsuarios", "Home", null, new { @class = "btn btn-primary" })

<hr />

@{Html.BeginForm("EditarUsuario", "Home");
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Editar Usuário</h2></div>
                <div class="container">
                    <div class="panel-body">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.Login)
                        </div>

                        <div class="col-md-5">
                            <label>Nome/Apelido Atual:&emsp;</label>@Html.DisplayFor(model => model.Usuario)
                            @Html.TextBox("txtUsuario", Model.Usuario, new { @class = "form-control" })
                            <div id="msgUsuario" class="hidden" style="color:red">Campo nome/apelido obrigatório</div>
                        </div>

                        <div class="col-md-5">
                            <label>E-Mail Atual:&emsp;</label>@Html.DisplayFor(model => model.Email)
                            @Html.TextBox("txtEmail", Model.Email, new { @class = "form-control"})
                            <div id="msgEmail" class="hidden" style="color:red">Campo e-mail obrigatório</div>
                            <div id="msgValidarEmail" class="hidden" style="color:red">Insira um e-mail válido</div>
                        </div>

                        <div class="col-md-12">
                            <br />
                            <label>Escolha o(s) grupo(s):</label>

                            @{var listaGrupos = ViewBag.GruposUsuario as List<string>;

                            foreach (SelectListItem item in (IEnumerable<SelectListItem>)ViewData["GrupoUsuarioCkl"])
                            {
                               
                                if (listaGrupos.Contains(item.Value))
                                    {
                                        <br />
                                        <input type="checkbox" id="grupoUsuario@(item.Value)" name="grupoUsuario" value="@(item.Value)" checked="checked" /> @item.Text
                                    }
                                    else
                                    {
                                        <br />
                                        <input type="checkbox" id="grupoUsuario@(item.Value)" name="grupoUsuario" value="@(item.Value)" /> @item.Text
                                    }

                                    continue;

                            }

                            }
                            <div id="msgGrupo" style="color:red" class="hidden">Selecione, no mínimo, UM grupo</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="submit" value="Salvar Alterações" class="btn btn-primary" id="btnSalvar" />
    </div>
}

<script>

    $(document).ready(function () {

        $('#txtUsuario').focus();

        $('#btnSalvar').click(function () {

            var sEmail = $('#txtEmail').val();

            if (!validateEmail(sEmail)) {
                $('#msgValidarEmail').removeClass('hidden');
                $('#txtEmail').focus();
                return false;
            }
            else {
                $('#msgValidarEmail').addClass('hidden');
            }

            if ($('#txtUsuario').val() == "") {
                $('#msgUsuario').removeClass('hidden');
                $('#txtUsuario').focus();
                return false;
            }
            else {
                $('#msgUsuario').addClass('hidden');
            }

            if ($('#txtEmail').val() == "") {
                $('#msgEmail').removeClass('hidden');
                $('#txtEmail').focus();
                return false;
            }
            else {
                $('#msgEmail').addClass('hidden');
            }

            if (!$('input:checkbox').is(":checked")) {
                $('#msgGrupo').removeClass('hidden');
                return false;
            }
            else {
                $('#msgGrupo').addClass('hidden');
            }


        });

        $('#txtUsuario').on('blur', function () {

            if ($('#txtUsuario').val() == "") {
                $('#msgUsuario').removeClass('hidden');
                return false;
            }
            else {
                $('#msgUsuario').addClass('hidden');
            }

        });

        $('#txtEmail').on('blur', function () {

            if ($('#txtEmail').val() == "") {
                $('#msgEmail').removeClass('hidden');
                return false;
            }
            else {
                $('#msgEmail').addClass('hidden');
            }

        });
    });

</script>