@model IEnumerable<DnaMais.Atento.Web.Models.GrupoUsuarioModel>
@{
    ViewBag.Title = "DNA+ | Atento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DataTableScript")

<hr />
@if (TempData["newGrupo"] != null)
{
    <p style="color:#22862c">@TempData["newGrupo"]</p>
}

@using (Html.BeginForm("ListarFtpEntrada", "ControleArquivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-lg-12">
                <p>
                    @Html.ActionLink("Voltar para Listagem de Arquivos", "ListarArquivo", "ControleArquivo", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Criar Novo Grupo", "CriarGrupoUsuario", "Home", null, new { @class = "btn btn-primary" })
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Grupos de Usuário</h2></div>
                    <div class="panel-body">
                        <table id="table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome do Grupo</th>
                                    <th>Descrição</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="col-md-1">
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                        </td>
                                        <td class="col-md-6">
                                            @Html.ActionLink(item.Nome.ToString(), "DetalharGrupo", "Home", new { codigoGrupo = item.Codigo, nomeGrupo = item.Nome }, null)
                                        </td>
                                        <td class="col-md-5">
                                            @Html.DisplayFor(modelItem => item.Descricao)
                                        </td>
                                        <td nowrap>
                                            @Html.ActionLink("Editar","EditarGrupoUsuario","Home")
                                            <label> | </label>
                                            @Html.ActionLink("Excluir", "ExcluirGrupoUsuario", "Home")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}